In [1]:
import pandas as pd

In [93]:
import datetime as dt

In [10]:
df_auc = pd.read_csv('auctions.csv.gzip', compression = 'gzip')

In [6]:
df_evt = pd.read_csv('events.csv.gzip', compression = 'gzip')

C:\Program Files\Python37\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (13,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df_ins = pd.read_csv('installs.csv.gzip', compression = 'gzip')

C:\Program Files\Python37\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (4,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df_clk = pd.read_csv('clicks.csv.gzip', compression = 'gzip')

C:\Program Files\Python37\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df_auc.shape

(47409528, 4)

In [18]:
df_auc.head().T

,0,1,2,3,4
date,2019-04-23 18:58:00.842116,2019-04-23 18:58:01.530771,2019-04-23 18:58:01.767562,2019-04-23 18:58:02.363468,2019-04-23 18:58:02.397559
device_id,2564673204772915246,4441121667607578179,7721769811471055264,6416039086842158968,1258642015983312729
ref_type_id,1,7,1,1,1
source_id,0,0,0,0,0

In [15]:
df_evt.shape

(7744581, 23)

In [19]:
df_evt.head().T

,0,1,2,3,4
index,2130678,2130680,2130681,2130684,2130688
date,2019-04-20 01:42:49.120,2019-04-20 01:42:49.340,2019-04-20 01:42:49.365,2019-04-20 01:42:51.438,2019-04-20 01:42:51.838
event_id,0,1,1,2,1
ref_type,1891515180541284343,1891515180541284343,1891515180541284343,1891515180541284343,1891515180541284343
ref_hash,5857744372586891366,7642521036780133571,2548841562898283198,609402887625919085,9114651763556439823
application_id,210,210,210,210,210
attributed,False,False,False,False,False
device_countrycode,6287817205707153877,6287817205707153877,6287817205707153877,6287817205707153877,6287817205707153877
device_os_version,NaN,NaN,NaN,NaN,NaN
device_brand,NaN,NaN,NaN,NaN,NaN
device_model,4.31829e+18,NaN,NaN,NaN,NaN
device_city,NaN,NaN,NaN,NaN,NaN
session_user_agent,3.81952e+18,3.81952e+18,3.81952e+18,3.81952e+18,3.81952e+18
trans_id,NaN,NaN,NaN,NaN,NaN
user_agent,5.04619e+18,NaN,NaN,NaN,NaN
event_uuid,5b506964-5f47-4b28-a8c2-8a92d6c23379,f1fb9d15-1a7b-4116-8d3b-c4c403e197e2,c85a0b15-a5d7-472e-8116-6bfa3db19687,f4aa0a97-2de6-4f22-95c6-1b3150112cb9,08e2f7f7-875f-4aa0-b337-b9b87b0d83ea
carrier,NaN,NaN,NaN,NaN,NaN
kind,5.88288e+18,4.01767e+18,4.01767e+18,6.16831e+18,4.01767e+18
device_os,NaN,NaN,NaN,NaN,NaN
wifi,False,False,False,False,False
connection_type,NaN,NaN,NaN,NaN,NaN
ip_address,7544543351571901618,6949523255335024165,6428537280982666957,7607371352198017145,2901772839007473756
device_language,3.30138e+18,NaN,NaN,NaN,NaN

In [16]:
df_clk.shape

(64296, 20)

In [20]:
df_clk.head().T

,0,1,2,3,4
advertiser_id,1,1,1,1,1
action_id,NaN,NaN,NaN,NaN,NaN
source_id,2,1,1,1,1
created,2019-04-18T05:27:42.197Z,2019-04-18T05:27:03.164Z,2019-04-18T05:42:07.926Z,2019-04-18T05:26:04.446Z,2019-04-18T05:23:37.764Z
country_code,6287817205707153877,6287817205707153877,6287817205707153877,6287817205707153877,6287817205707153877
latitude,1.71455,1.71451,1.71455,1.70804,1.71551
longitude,0.871535,0.871062,0.871535,0.870772,0.870772
wifi_connection,False,True,True,True,True
carrier_id,3,2,4,1,2
trans_id,9JMAfrb-b9cSEVCJb0P9JfihGthaS7E,r3xtTRv2lInfiXG8JI3NQsNcBo8GyFQ,WOnHFqQtY48z_ygKZ-030U_g0TMGVMw,wQMLLmYqiFhSuha9p9B13PMtcyBW_vM,GeFoyBzMA7taylMxxjzlNPTU-n4FXFs
os_minor,1.51764e+18,1.28858e+18,2.23874e+18,2.41164e+18,1.51764e+18
agent_device,NaN,NaN,NaN,NaN,NaN
os_major,5.13162e+18,3.90839e+18,3.58123e+18,3.90839e+18,5.13162e+18
specs_brand,71913840936116953,3576558787748411622,3576558787748411622,3576558787748411622,3576558787748411622
brand,0,1,NaN,NaN,0
timeToClick,2.317,7.653,464.796,225.311,84.736
touchX,0.968,0.712,0.227,0.696,0.059
touchY,0.503,1.689,0.251,6.587,0.142
ref_type,1891515180541284343,1891515180541284343,1891515180541284343,1891515180541284343,1891515180541284343
ref_hash,1293710398598742392,1663930990551616564,8488038938665586188,6488361690105189959,1348993302102753419

In [17]:
df_ins.shape

(481511, 18)

In [21]:
df_ins.head().T

,0,1,2,3,4
created,2019-04-24 06:23:29.495,2019-04-24 02:06:01.032,2019-04-20 10:15:36.274,2019-04-20 21:56:47.151,2019-04-20 22:40:41.239
application_id,1,1,1,1,1
ref_type,1494519392962156891,1494519392962156891,1494519392962156891,1494519392962156891,1494519392962156891
ref_hash,4716708407362582887,7143568733100935872,5230323462636548010,5097163995161606833,6328027616411983332
click_hash,NaN,NaN,NaN,NaN,NaN
attributed,False,False,False,False,False
implicit,True,False,True,True,False
device_countrycode,6287817205707153877,6287817205707153877,6287817205707153877,6287817205707153877,6287817205707153877
device_brand,NaN,NaN,NaN,NaN,NaN
device_model,3.73913e+17,7.80554e+18,8.3555e+18,2.35577e+18,6.15697e+18
session_user_agent,adjust.com,adjust.com,adjust.com,adjust.com,adjust.com
user_agent,NaN,NaN,NaN,NaN,NaN
event_uuid,79837499-2f2a-4605-a663-e322f759424f,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,NaN
kind,app_open,NaN,app_open,app_open,NaN
wifi,NaN,NaN,NaN,NaN,NaN
trans_id,NaN,NaN,NaN,NaN,NaN
ip_address,4243443387795468703,4724288679627032761,8291809486355890410,4006811922873399949,3386455054590810771
device_language,3.30138e+18,3.30138e+18,4.06093e+18,3.30138e+18,3.30138e+18

In [22]:
df_target = pd.read_csv('target_final_competencia_revamped.csv')

In [27]:
df_target['ref_hash'] = df_target['ref_hash'].str.replace('_sc','')
df_target['ref_hash'] = df_target['ref_hash'].str.replace('_st','')
lista_ids = (df_target.drop_duplicates(subset = ['ref_hash']))['ref_hash'].to_list()

In [32]:
len(lista_ids)

2965

In [29]:
df_filt = df_auc.loc[df_auc['device_id'].isin(lista_ids)]
df_filt.shape

(2230, 4)

In [30]:
df_ins_filt = df_ins.loc[df_ins['ref_hash'].isin(lista_ids)]

In [31]:
df_ins_filt.shape

(27, 18)

## Busco los labels del tiempo hasta instalación

In [94]:
df_ins['created'] = pd.to_datetime(df_ins['created'])

### Tomo ventanas de tiempo de 3 dias con los datos que van desde el 18 de abril hasta el 26 de abril

In [97]:
df_ins1 = df_ins.loc[df_ins['created'] < '2019-04-21',['ref_hash','created']]
df_ins2 = df_ins.loc[(df_ins['created'] < '2019-04-22') & (df_ins['created'] > '2019-04-18'),['ref_hash','created']]
df_ins3 = df_ins.loc[(df_ins['created'] < '2019-04-23') & (df_ins['created'] > '2019-04-19'),['ref_hash','created']]
df_ins4 = df_ins.loc[(df_ins['created'] < '2019-04-24') & (df_ins['created'] > '2019-04-20'),['ref_hash','created']]
df_ins5 = df_ins.loc[(df_ins['created'] < '2019-04-25') & (df_ins['created'] > '2019-04-21'),['ref_hash','created']]
df_ins6 = df_ins.loc[(df_ins['created'] < '2019-04-26') & (df_ins['created'] > '2019-04-22'),['ref_hash','created']]
df_ins7 = df_ins.loc[df_ins['created'] > '2019-04-23',['ref_hash','created']]

In [103]:
df_ins1 = df_ins1.groupby('ref_hash').agg({'created':'min'}).reset_index()
df_ins1['obj_sc'] = (df_ins1['created'] - pd.to_datetime('2019-04-18')).astype('timedelta64[s]')

df_ins2 = df_ins2.groupby('ref_hash').agg({'created':'min'}).reset_index()
df_ins2['obj_sc'] = (df_ins2['created'] - pd.to_datetime('2019-04-19')).astype('timedelta64[s]')

df_ins3 = df_ins3.groupby('ref_hash').agg({'created':'min'}).reset_index()
df_ins3['obj_sc'] = (df_ins1['created'] - pd.to_datetime('2019-04-20')).astype('timedelta64[s]')

df_ins4 = df_ins4.groupby('ref_hash').agg({'created':'min'}).reset_index()
df_ins4['obj_sc'] = (df_ins1['created'] - pd.to_datetime('2019-04-21')).astype('timedelta64[s]')

df_ins5 = df_ins5.groupby('ref_hash').agg({'created':'min'}).reset_index()
df_ins5['obj_sc'] = (df_ins1['created'] - pd.to_datetime('2019-04-22')).astype('timedelta64[s]')

df_ins6 = df_ins6.groupby('ref_hash').agg({'created':'min'}).reset_index()
df_ins6['obj_sc'] = (df_ins1['created'] - pd.to_datetime('2019-04-23')).astype('timedelta64[s]')

df_ins7 = df_ins7.groupby('ref_hash').agg({'created':'min'}).reset_index()
df_ins7['obj_sc'] = (df_ins1['created'] - pd.to_datetime('2019-04-24')).astype('timedelta64[s]')

df_ins1

                   ref_hash                 created    obj_sc
0            41863526108385 2019-04-18 21:11:50.326   76310.0
1           135153013040192 2019-04-20 05:36:20.258  192980.0
2           186034136943920 2019-04-18 16:40:42.839   60042.0
3           365882020742330 2019-04-19 02:42:36.508   96156.0
4           519199987760489 2019-04-19 01:47:40.475   92860.0
5           530786270564316 2019-04-18 20:51:02.237   75062.0
6           558877640599287 2019-04-18 18:10:00.392   65400.0
7           655267966876774 2019-04-18 20:31:37.181   73897.0
8           848739744907305 2019-04-19 06:30:37.123  109837.0
9           918552236966790 2019-04-20 13:14:07.027  220447.0
10          989540301617336 2019-04-19 17:23:10.929  148990.0
11         1185182003388503 2019-04-19 02:12:49.354   94369.0
12         1187457308005333 2019-04-18 18:56:03.118   68163.0
13         1314295854059020 2019-04-18 22:15:53.809   80153.0
14         1367578517336858 2019-04-19 21:31:38.222  163898.0
15         1440206761476269 2019-04-20 04:09:27.243  187767.0
16         1584589085508650 2019-04-19 00:01:24.071   86484.0
17         1714180949982233 2019-04-18 16:47:01.784   60421.0
18         1846673692635553 2019-04-19 15:08:55.641  140935.0
19         1927720231455108 2019-04-18 20:57:16.252   75436.0
20         2028800335308730 2019-04-18 22:25:49.388   80749.0
21         2062151983636251 2019-04-19 22:46:30.023  168390.0
22         2248059485418010 2019-04-18 23:25:19.848   84319.0
23         2405259562999287 2019-04-19 01:27:44.228   91664.0
24         2448281476527257 2019-04-20 04:00:32.870  187232.0
25         2493454867357963 2019-04-20 22:22:49.792  253369.0
26         2702766233088930 2019-04-20 16:57:31.437  233851.0
27         2706649710050643 2019-04-19 06:37:02.174  110222.0
28         2717846524686563 2019-04-18 18:33:13.488   66793.0
29         2804220698249456 2019-04-18 01:07:02.361    4022.0
...                     ...                     ...       ...
132267  9220934493527670194 2019-04-18 17:43:50.007   63830.0
132268  9221077978142247113 2019-04-19 06:59:46.224  111586.0
132269  9221093402854947071 2019-04-19 23:36:03.455  171363.0
132270  9221213651041372291 2019-04-19 10:58:30.160  125910.0
132271  9221262379740846598 2019-04-19 23:00:14.705  169214.0
132272  9221374380798971694 2019-04-20 22:05:37.666  252337.0
132273  9221516708729813817 2019-04-19 06:38:03.680  110283.0
132274  9221520040591038699 2019-04-18 16:31:56.663   59516.0
132275  9221668110257566079 2019-04-19 21:14:32.710  162872.0
132276  9221821725193969022 2019-04-19 21:07:49.256  162469.0
132277  9221849540930359874 2019-04-19 05:54:51.997  107691.0
132278  9221927788150413702 2019-04-20 06:55:10.088  197710.0
132279  9222189589776387233 2019-04-19 15:34:21.771  142461.0
132280  9222219350962439289 2019-04-20 16:06:04.495  230764.0
132281  9222254302684414708 2019-04-19 20:16:12.300  159372.0
132282  9222281081174878406 2019-04-18 03:56:19.437   14179.0
132283  9222335636262054708 2019-04-18 19:32:27.974   70347.0
132284  9222382052466133853 2019-04-19 17:26:10.932  149170.0
132285  9222389819563233489 2019-04-20 22:24:38.883  253478.0
132286  9222404943481293345 2019-04-20 23:34:52.770  257692.0
132287  9222445878176178987 2019-04-20 16:07:16.649  230836.0
132288  9222517399250029400 2019-04-18 17:28:38.662   62918.0
132289  9222605308741024421 2019-04-19 05:29:46.198  106186.0
132290  9222820903899321555 2019-04-20 16:58:13.822  233893.0
132291  9222861184027496933 2019-04-19 19:46:51.077  157611.0
132292  9222957264925735246 2019-04-18 15:44:35.275   56675.0
132293  9223066346652706056 2019-04-18 01:02:19.149    3739.0
132294  9223189551280812934 2019-04-18 19:02:18.331   68538.0
132295  9223250784891904112 2019-04-20 05:03:59.110  191039.0
132296  9223252295312976945 2019-04-19 20:11:16.649  159076.0

[132297 rows x 3 columns]

## Y arriba ya quedan calculados los tiempos hasta la instalacion para cada dia para cada usuario (se podria dropear la fecha ya porque no importa para los labels)

## Ahora es cuestion de separar los datos que se tienen en esos mismos intervalos para ver si se puede predecir correctamente

In [106]:
df_evt['date'] = pd.to_datetime(df_evt['date'])

df_evt1 = df_evt.loc[df_evt['date'] < '2019-04-21']
df_evt2 = df_evt.loc[(df_evt['date'] < '2019-04-22') & (df_evt['date'] > '2019-04-18')]
df_evt3 = df_evt.loc[(df_evt['date'] < '2019-04-23') & (df_evt['date'] > '2019-04-19')]
df_evt4 = df_evt.loc[(df_evt['date'] < '2019-04-24') & (df_evt['date'] > '2019-04-20')]
df_evt5 = df_evt.loc[(df_evt['date'] < '2019-04-25') & (df_evt['date'] > '2019-04-21')]
df_evt6 = df_evt.loc[(df_evt['date'] < '2019-04-26') & (df_evt['date'] > '2019-04-22')]
df_evt7 = df_evt.loc[df_evt['date'] > '2019-04-23']

In [107]:
df_clk['created'] = pd.to_datetime(df_clk['created'])

df_clk1 = df_clk.loc[df_clk['created'] < '2019-04-21']
df_clk2 = df_clk.loc[(df_clk['created'] < '2019-04-22') & (df_ins['created'] > '2019-04-18')]
df_clk3 = df_clk.loc[(df_clk['created'] < '2019-04-23') & (df_ins['created'] > '2019-04-19')]
df_clk4 = df_clk.loc[(df_clk['created'] < '2019-04-24') & (df_ins['created'] > '2019-04-20')]
df_clk5 = df_clk.loc[(df_clk['created'] < '2019-04-25') & (df_ins['created'] > '2019-04-21')]
df_clk6 = df_clk.loc[(df_clk['created'] < '2019-04-26') & (df_ins['created'] > '2019-04-22')]
df_clk7 = df_clk.loc[df_clk['created'] > '2019-04-23']

## Hay que agregar labels de tiempos hasta la siguiente subasta (Ya esta hecho por @FACUNDOTORRACAFISICA2)

## Luego tambien XGboost funciona con variables numericas asi que las categoricas habria que codificarlas a binario con one-hot enconding, mean encoding (leave one out) o binary encoding